.container{
    left: 0;
    right: 0;
    width: 40%;
    margin: auto;
    position: relative;
    text-align: center;
    background-color: white;
}

.h-icons{
    width: 80px;
    margin: 0.5rem;
    cursor: pointer;
}

.c-icons{
    width: 80px;
    margin: 0.5rem;
}

.human{
    margin-bottom: 3rem;
}

.resultBox{
    width: 100px;
    height: 30px;
    padding: 0.8rem;
    text-align: center;
    background-color: antiquewhite;
    margin: auto;
    display: none;
}